.extra-block1{
	margin: 0 auto;
}

#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position:cover;
    background-repeat:no-repeat;
}

#videoduatlon{
	cursor:pointer;
	margin:0 auto;
}

header.fixed{
	width:100%;
	position:fixed;
	top:0;
}

#container{
	background-color:rgba(0,0,0,0.5);
	color: white;
	border-radius:10px;
	padding:10px;
	margin:10%;
	margin-top:10px;
	margin-bottom:0;
}

.menu li a{
	font-size:15px;
}

.lang-list li{
	display: inline;
}

.lang-list li a{
	color: white;
}

h1.logo{
	position:relative;
}

h1 span{
	position:absolute;
	top:0;
	left:45px;
	width:200px;
	font-size:20px;
	font-family: 'Libre Baskerville', serif;
}